@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content -->
<div class="row">
    <div class="col-lg-12 align-self-center">
        <h1 class="mt-5">Welcome</h1>
        <div class="jumbotron">
            <div class="row">
                <div class="col">
                    <h1 class="display-4">Fizz Buzz</h1>
                    <p class="lead">It's a numbers game baby</p>
                </div>
            </div>
            <hr class="my-4">
            <p class="card-text">
                The Fizzbuzz coding challenge was invented in 2007 by Imran Ghoryin in order to assess
                developer competence. Since its conception the Fizzbuzz challenge has been used by Facebook and Microsoft as
                interview tools and has also been taught at Stanford, Berkley, Caltech and countless other universities.
            </p>
        </div>
    </div>
</div>